[submodule "dotfiles"]
	path = dotfiles
	url = git@github.com:JValberg/dotfiles
[submodule "utilities"]
	path = utilities
	url = git@github.com:JValberg/utilities
[submodule "VimBackup"]
	path = VimBackup
	url = git@github.com:JValberg/VimBackup.git
